* {
  box-sizing: border-box;
}

body {
  max-width: 100%;
  height: auto;
  text-align: center;
  background-color: #F9FAFF;
}

.profpic {
  border-radius:100%;
  height: 50%;
  width: 50%;
}

.banner {
  background-size: 100% 100%;
  background-position: center;
  background-image: url("../images/Aggie_Stadium_(UC_Davis).jpg");
  background-color: #AAAAAA;
  background-blend-mode: overlay;
}

.scrlrow {
  display: table;
  width: 100%;
  height: 100vh;
}

.welcome .separator {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

nav a {
  font-family: 'Quicksand', serif;
  color: #FFFFFF;
}

a:hover,
a:focus {
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s ease;
  color: #FB2020;
}

nav a:hover,
nav a:focus {
  color: #FFD800;
}

.fa:hover,
.fa:focus {
  transition: 0.5s ease;
  font-size: 1.2em;
  color: #FB2020;
}

.separator {
  font-family: 'Indie Flower', cursive, serif;
  color: #FFCC00;
  text-align: center;
  font-size: 2em;
}

.info {
  font-family: 'Indie Flower', cursive, serif;
  text-align: center;
  font-size: 1.5em;
  color: #000000;
}

@media(max-width:768px) {
  .banner {
    height: 100%;
    width: 100%;
  }
}

@media(min-width:48em){
  .profpic {
    margin-top: 100px;
    border-radius: 100%;
    height: 75%;
    width: 75%;
  }

  .navbar {
    width: 100%;
    z-index: 1000;
  }

  .banner {
    padding-top: 25vh;
    top: 0;
    bottom:0;
    position: fixed;
  }

  .main-content {
    padding-left: 25vw;
    padding-top: 10vw;
  }

  .scrlrow {
    height: 100vh;
    width: 100%;
  }

  .info {
    margin: 2em;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
  }
}

@media(min-width:64em) {
  .profpic {
    margin-top: 100px;
    border-radius: 100%;
    height: 80%;
    width: 80%;
  }

  .navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .banner {
    padding-top: 25vh;
    top: 0;
    bottom:0;
    position: fixed;
  }

  .main-content {
    padding-left: 25vw;
    padding-top: 10vh;
  }

  .scrlrow {
    height: 100vh;
    width: 100%;
  }

  .info {
    margin: 3em;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
  }

  .separator {
    margin-top: 10vh;
    padding-top: 5vh;
    font-size: 3em;
  }

  .welcome .separator {
    padding: 0;
    margin: 0;
  }
}
