body {
  background: linear-gradient(to right, #fff 0%, #eee 100%);
}

.navbar-dark {
  background-color: #222 !important;
}

.navbar-brand {
  color: #ccc !important;
  font-size: 1rem;
}

.nav-link {
  color: #ccc !important;
}

.nav-link:hover, .nav-link.active, .nav-link:focus {
  color: #FFD800 !important;
}

.container {
  margin-top: 70px;
}

.profile-picture-container {
  text-align: center;
  padding: 50px 0 0;
  width: 100%;
}

.profpic {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.name {
  font-family: 'Quicksand', cursive, serif;
}

.section {
  padding: 80px 20px 20px;
  min-height: 100vh;
}

#section-zero {
  padding-top: 20px !important;
}

.info {
  margin: 50px;
  font-family: 'Quicksand', cursive, serif;
  text-align: center;
  font-size: 25px;
}

#yoda {
  font-family: 'Tangerine', cursive, serif;
  text-align: center;
  font-size: 40px;
}

.fa {
  font-size: 30px;
}

.fa:hover,
.fa:focus {
  transition: 0.5s ease;
  font-size: 35px;
  color: #FB1010;
}

.separator {
  font-family: 'Exo', cursive, serif;
  color: #555;
  text-align: center;
}
